@model QuestionViewModel
<link rel="stylesheet" href="~/css/Rockstyle.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Slider.css" asp-append-version="true" />

<script type="text/javascript">
    function ShowHideDiv(id) {
        var r = document.getElementById(id + "-div").querySelectorAll("input");
        var r1 = r[0];
        var r5 = r[4];
        var div = document.getElementById(id + "-div").querySelectorAll("div");
        var l = document.getElementById(id + "-div").querySelectorAll("label");
        var div1 = div[0];

        var bool = false
        if (r1.checked || r5.checked) {
            bool = true;
        }
        div1.style.display = bool ? "flex" : "none";

        var checked = -1;
        var i = 0;
        for (i; i < r.length ; i++){
            if (r[i].checked){
                checked = i;
                break;
            }
        }
        for (let j = 0; j <= checked; j++){
            l[j].innerHTML = "★";
        }
        for (let j = checked + 1; j < r.length; j++) {
            l[j].innerHTML = "☆";
        }
    }
</script>

<form method="post" asp-controller="Questionaire" asp-action="End" name="myForm">
    <div class="slideshow-container">
        <div class="mySlides">
            <label asp-for="Email">Please fill in your email</label>
            <input asp-for="Email" type="text" value="@Model.Email" />
        </div>
        @for (int i = 0; i < Model.Questions.Count(); i++)
        {
            <div class="mySlides">
                <div hidden="hidden">
                    <input asp-for="Questions[i].Id" value="@Model.Questions[i].Id" type="number" />
                    <input asp-for="Questions[i].QuestionaireId" value="@Model.Questions[i].QuestionaireId" type="number" />
                    <input asp-for="Questions[i].QuestionString" value="@Model.Questions[i].QuestionString" type="text" />
                </div>

                <div>
                    <label> @Model.Questions[i].QuestionString </label>
                </div>

                <div id="@Model.Questions[i].Id-div" onclick="ShowHideDiv(@Model.Questions[i].Id.ToString())">
                    <span class="star-group">
                        <input type="radio" id="@Model.Questions[i].Id-1" name="Questions[@i].Answer" value="1" /><label for="@Model.Questions[i].Id-1" id="star" >☆</label>
                        <input type="radio" id="@Model.Questions[i].Id-2" name="Questions[@i].Answer" value="2" /><label for="@Model.Questions[i].Id-2" id="star" >☆</label>
                        <input type="radio" id="@Model.Questions[i].Id-3" name="Questions[@i].Answer" value="3" /><label for="@Model.Questions[i].Id-3" id="star" >☆</label>
                        <input type="radio" id="@Model.Questions[i].Id-4" name="Questions[@i].Answer" value="4" /><label for="@Model.Questions[i].Id-4" id="star" >☆</label>
                        <input type="radio" id="@Model.Questions[i].Id-5" name="Questions[@i].Answer" value="5" /><label for="@Model.Questions[i].Id-5" id="star" >☆</label>
                    </span>

                    <div class="AnswerString" style="display: none">
                        <input asp-for="Questions[i].AnswerString" type="text" placeholder="But why?"/>
                    </div>
                </div>
            </div>
        }
        <button style="display:none" type="submit" name="button" id="button" class="btn btn-warning"> Submit </button>
        <a class="btn btn-warning" id="button2" onclick="plusSlides(1)">Start Questionnaire</a>
    </div>
</form>

<script type="text/javascript">
    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
        document.getElementById("button2").innerHTML = "next question"
    }

    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        slides[slideIndex - 1].style.display = "flex";
        if (n == slides.length) {
            document.getElementById("button").style.display = "flex";
            document.getElementById("button2").style.display = "none";
        }
    }
</script>