@model QuestionViewModel
<link rel="stylesheet" href="~/css/Rockstyle.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Slider.css" asp-append-version="true" />

<form method="post" asp-controller="Questionaire" asp-action="End" name="myForm">
    <div class="slideshow-container">
        <div class="mySlides">
            <label asp-for="Email">Please fill in your email</label>
            <input asp-for="Email" type="text" value="@Model.Email" />
            <div class="btnDiv">
                <a name="button2" id="button2" onclick="plusSlides(1)">Start Questionnaire</a>
            </div>
        </div>
        @for (int i = 0; i < Model.Questions.Count(); i++)
        {
            <div class="mySlides">
                <div hidden="hidden">
                    <input asp-for="Questions[i].Id" value="@Model.Questions[i].Id" type="number" />
                    <input asp-for="Questions[i].QuestionaireId" value="@Model.Questions[i].QuestionaireId" type="number" />
                    <input asp-for="Questions[i].QuestionString" value="@Model.Questions[i].QuestionString" type="text" />
                </div>

                <div class="question">
                    <label> @Model.Questions[i].QuestionString </label>
                </div>

                <div id="@Model.Questions[i].Id-div" onclick="ShowHideDiv(@Model.Questions[i].Id.ToString())">
                    <span class="star-group">
                        <input type="radio" id="@Model.Questions[i].Id-1" name="Questions[@i].Answer" value="1" checked /><label for="@Model.Questions[i].Id-1" id="star">☆</label>
                        <input type="radio" id="@Model.Questions[i].Id-2" name="Questions[@i].Answer" value="2" /><label for="@Model.Questions[i].Id-2" id="star">☆</label>
                        <input type="radio" id="@Model.Questions[i].Id-3" name="Questions[@i].Answer" value="3" /><label for="@Model.Questions[i].Id-3" id="star">☆</label>
                        <input type="radio" id="@Model.Questions[i].Id-4" name="Questions[@i].Answer" value="4" /><label for="@Model.Questions[i].Id-4" id="star">☆</label>
                        <input type="radio" id="@Model.Questions[i].Id-5" name="Questions[@i].Answer" value="5" /><label for="@Model.Questions[i].Id-5" id="star">☆</label>
                    </span>
                </div>
                <div class="navDiv">
                    <div class="btnDiv">
                        @if(i != 0){
                            <a name="button3" id="button2" onclick="plusSlides(-2)">Previous Question</a>
                        }
                        <a name="button2" id="button2" onclick="plus2Slides(1, @Model.Questions[i].Id.ToString())">Next question</a>
                    </div>
                </div>
            </div>

            <div class="mySlides" onclick="ShowHideDiv(@Model.Questions[i].Id.ToString())">
                <div class="AnswerString">
                    <input asp-for="Questions[i].AnswerString" type="text" placeholder="But why?"/>
                    <div class="btnDiv">
                        <a name="button2" id="button2" onclick="plusSlides(1)">Next question</a>
                    </div>
                </div>
            </div>
        }
        <div class="dotsDiv">
            @for(int j = 1; j<Model.Questions.Count()+1; j++){
                <div class="dot" name="dot" onclick="showSlide(@j*2)"></div>
            }
        </div>
        <button style="display:none" type="submit" name="button" id="button2" class="btn btn-warning"> Submit </button>
    </div>
</form>

<script src="~/css/js/site.js"></script>