@model QuestionViewModel
@* 
    The hidden divs are there to post the model data further in the application
*@

<p>
    <a>Welcome @Model.Email</a>
</p>
<form method="post" asp-controller="Questionaire" asp-action="End">
    <div hidden="hidden">
        <input asp-for="Email" type="text" value="@Model.Email" />
    </div>
    @for (int i = 0; i < Model.Questions.Count(); i++)
    {
        <div hidden="hidden">
            <input asp-for="Questions[i].Id" value="@Model.Questions[i].Id" type="number" />
            <input asp-for="Questions[i].QuestionaireId" value="@Model.Questions[i].QuestionaireId" type="number" />
            <input asp-for="Questions[i].QuestionString" value="@Model.Questions[i].QuestionString" type="text" />
        </div>
        
        // This is where we ask for answers
        <div>
            <label asp-for="Questions[i].Answer">@Model.Questions[i].QuestionString</label>
            <input asp-for="Questions[i].Answer" type="number" />
        </div>
    }
    <button type="submit" name="button" id="button" class="btn btn-warning"> Submit </button>
</form>