@model QuestionViewModel
@* 
    The hidden divs are there to post the model data further in the application
*@

<p>
    <a>Welcome @Model.Email</a>
</p>
<form method="post" asp-controller="Questionaire" asp-action="End">
    <div hidden="hidden">
        <input asp-for="Email" type="text" value="@Model.Email" />
    </div>
    @for (int i = 0; i < Model.Questions.Count(); i++)
    {
        <div hidden="hidden">
            <input asp-for="Questions[i].Id" value="@Model.Questions[i].Id" type="number" />
            <input asp-for="Questions[i].QuestionaireId" value="@Model.Questions[i].QuestionaireId" type="number" />
            <input asp-for="Questions[i].QuestionString" value="@Model.Questions[i].QuestionString" type="text" />
        </div>
        
        // This is where we ask for answers
        <fieldset id="group1">
            <span class="star-group">
                <input type="radio" id="Questions[i].Id-5" name="Questions[i].Id" value="5" /><label for="Questions[i].Id-5" id="star">5</label>
                <input type="radio" id="Questions[i].Id-4" name="Questions[i].Id" value="4" /><label for="Questions[i].Id-4" id="star">4</label>
                <input type="radio" id="Questions[i].Id-3" name="Questions[i].Id" value="3" /><label for="Questions[i].Id-3" id="star">3</label>
                <input type="radio" id="Questions[i].Id-2" name="Questions[i].Id" value="2" /><label for="Questions[i].Id-2" id="star">2</label>
                <input type="radio" id="Questions[i].Id-1" name="Questions[i].Id" value="1" /><label for="Questions[i].Id-1" id="star">1</label>
            </span>
        </fieldset>
    }
    <button type="submit" name="button" id="button" class="btn btn-warning"> Submit </button>
</form>